
html{
	padding: 0px;
	margin: 0px;
}
h1 {
	background-color: #2AA9E0
}

body{
	margin: 0px;
	font-family: 'Rokkitt', serif;
}

#title {
	background-color: #0B83B5;
	padding: 4px;
	border: none;
	top: 0px;
	position: relative;
	display: block;
	font-family: 'Rokkitt', serif;
}

.projects-wrapper {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: masonry;
	gap: 5px;
}

.gitList {
    width: 450px;
}

.gitList ul li {
    width: 150px;
    height: 150px;
    background-color: #0B83B5;
	border: 2px solid black;
	border-radius: 4px;
    float: down;
	padding: 4px
}

.gitList ul {
    display: float;
}

.gitList li:hover{
	background-color: #645E5E;
}
.gitList li:link li:visited a:link a:visited{
	color: black;
}

