
html{
	padding: 0px;
	margin: 0px;
}
/* h1 {
	background-color: #2AA9E0
} */

body{
	margin: 0px;
	font-family: 'Rokkitt', serif;
}

.main {
	display: grid;
	width: 100%;
	min-height: 100vh;
	/* padding: .5rem; */
	grid-template-rows: 4rem 2rem auto 2.5rem;
	grid-template-columns: 1fr 300px;
}

.main > * {
	padding: .5rem
}

.accent {
	background-color: #272744;
	color: #fbf5ef;
}

.title {
	
	text-align: center;
	padding: .5rem;
	font-family: 'Rokkitt', serif;
	
}

.full-span{
	grid-column: 1 / -1;
}

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	gap: .5rem;
	flex-grow:1;
	flex-shrink:0;
	justify-content: space-around;
}
.grid-wrapper {
		width: 100% !important;
	}
@media screen and (max-width: 768px){
	body{
		background-color: aqua;
	}
	.main {
		grid-template-columns: 100% !important;
    	grid-template-rows: auto !important;
		justify-content: center;
	}
	.main>* {
		grid-column: 1 / -1 !important;
		grid-row: auto !important;
	}

	.grid {
		flex-direction: column;
		align-items: center;
	}
	.grid>*{
		flex: 1;
	}
	
}

/* .grid-wrapper {
	width: 260px;
} */

.navigator {
	background: #494d7e;
}

.about-me {
	display: flex;
	justify-content: center;
}

/* .card {
	width: 300px;
} */

.about-me .card {
	height: 326px;
}

.grid-wrapper .card {
	height: 100%;
}